.container{
    max-width: 100%;
    min-height: 500px;

}
a.navbar-brand{
    background-color: green;
}
.navigation_bar {
    height: 40px;
    
}
.navigation_bar p {
    padding: 5px;
    display: inline-block;
    margin-left: 30px;
    font-size: 40px;
}
.navigation_bar p:first-letter{
    color:#9ACD32 ;
}
.main{
    padding-top: 10px;
    margin: 30px;
    height: 260px;
    transition: all 3s;
    display: flex;
    justify-content: space-around;
}
.main a{
    text-decoration: none;
}
.main a:hover{
    box-shadow: 0 16px 32px 0 rgba(67, 23, 154, 0.15);/* 鼠标悬浮时盒子出现的阴影 */
	transform: translate(0, 5px);
}
.main img{
    width:200px;
    height: 260px;
}
.main p{
    font-size: 20px;
    color: #9ACD32;
}

.navigation_bar1 {
    height: 50px;
    display: flex;
    
}
.navigation_bar1 p {
    padding: 8px;
    display: inline-block;
    margin-left: 30px;
    font-size: 40px;
}
.navigation_bar1 p:first-letter{
    color:#9ACD32 ;
}
.category{
    padding: 15px;
}
.category a{
    text-decoration: none;
}
.category p{
    font-size: 20px;
    color: #9ACD32;
    border: 2px #151515 solid;
    border-radius: 15px;

}
.main1{
    padding-top: 10px;
    margin: 30px;
    height: 260px;
    transition: all 3s;
    display: flex;
    justify-content: space-around;
}
.main1 a{
    text-decoration: none;
}
.main1 a:hover{
    box-shadow: 0 16px 32px 0 rgba(67, 23, 154, 0.15);/* 鼠标悬浮时盒子出现的阴影 */
	transform: translate(0, 5px);
}
.main1 img{
    width:200px;
    height: 260px;
}
.main1 p{
    font-size: 20px;
    color: #9ACD32;
}
@media (max-width: 480px){
    .displayNone{
        display: none} 
    .navigation_bar p{
        font-size: 30px;
    }
    .navigation_bar1 p{
        font-size: 30px;
    }
    .category{
        display: none;
    }
    .main{
        display: inline-block;
        width: 100%;
        justify-content: space-around;
        text-align: center;
    }
    .navigation_bar{
        height: 20px;
    }
    .main1{
        display: inline-block;
        width:100% ;
        justify-content: space-around;
        text-align: center;
    }
} 

